.LoginContainer{
    background-color: #191970;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2vh;
    
}

label{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:blue;
    
}

input{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vh;
    height: 8vh;
    border-radius: 3vh;
    border: none;
}

h1{
    color: white;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vh;
}

.Ingreso{
    color: white;
    display: flex;
    height: 8vh;
    align-items: center;
    justify-content: center;
    font-family: 'Lucida Sans';
    font-size: small;
    
}

.ContainerGoogle{
    background-color: blue;
    height: 6vh;
    justify-content: center;
    align-items: center;
    border-radius: 2vh;
    width: 30%;
    display: flex;
    gap: 1vh;
    cursor: pointer;
}

.Inicio_Sesion{
    color:darkorange;
    display: flex;
    height: 8vh;
    align-items: center;
    justify-content: center;
    font-family: 'Lucida Sans';
    font-size: small;
    
}

.Registrarte{
    
    cursor: pointer;
    width: 20vh;
    color: white;
    background: rgb(253,132,45);
    background: linear-gradient(90deg, rgba(253,132,45,0.9915615904564951) 0%, rgba(195,118,34,1) 100%)
}

@media screen and (max-width: 1000px) {
    input{
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40vh;
        height: 8vh;
        border-radius: 3vh;
        border: none;
    }
}

