.Footer{
    background-color:rgb(138, 206, 235);
    height: 110px;
    width: 100%;
    flex-direction: column;
    opacity: 35%;
    margin-top: 5%;
    padding: 0%;

}



h4{
    
    align-items: center;
    justify-content: center;
    display: flex;
    height: 45px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

.Redes{
    gap: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;    
}

.Instagram:hover{
   font-size: larger;
    
}

.Facebook:hover{
    font-size: larger;
}

.Youtube:hover{
    font-size: larger;
}